* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }

body {
    background-color: #050505;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #121212;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    border: 1px solid #333;
    box-shadow: 0 0 20px rgba(239, 35, 60, 0.1);
}

h2 {
    color: #ef233c; /* Vermelho Neon */
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input-group { margin-bottom: 20px; }

label { display: block; margin-bottom: 5px; color: #b3b3b3; font-size: 0.9rem; }

input {
    width: 100%;
    padding: 12px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: 0.3s;
}

input:focus { border-color: #ef233c; }

button {
    width: 100%;
    padding: 15px;
    background-color: #ef233c;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover { background-color: #d90429; box-shadow: 0 0 15px rgba(239, 35, 60, 0.5); }

.msg { margin-top: 15px; text-align: center; font-size: 0.9rem; height: 20px;}
.sucesso { color: #00ff88; }
.erro { color: #ff5555; }